.about {
  width: 100%;
  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-family: $titleFont;
    color: $darkGreen;
    padding: 40px 0;
    font-size: 64px;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }
  &__text {
    font-family: $textFont;
    padding: 10px 0;
  }
}
