.home {
  &__logoContainer {
    text-align: center;
    margin: 0 auto;
    background-color: #fafafa;
  }

  &__title {
    font-family: $titleFont;
    font-size: 42px;
    padding-top: 30px;
    padding-bottom: 20px;
    color: $darkGreen;
  }

  &__featured {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    display: flex;
  }

  &__logoContainer {
    border-bottom: 1px solid $lightGrey;
  }

  &__featuredContainer {
    // display: flex;
    flex: 0.7;
    width: 100%;
    flex-direction: column;
  }

  &__continents {
    width: 100%;
    padding-top: 100px;
    align-content: space-between;
  }
  &__continentsCol {
    display: flex;
    margin: 20px 0;
  }

  &__info {
    margin-top: 20px;
    margin-left: 40px;
    flex: 0.3;
    text-align: left;
    width: 30%;
    font-family: $textFont;

    img {
      width: 100%;
    }
  }
  &__link {
    margin-top: 20px;
    color: $darkGreen;
    cursor: pointer;
  }

  &__sidebarTitle {
    font-family: $titleFont;
    color: $darkGreen;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .home {
    &__featured {
      flex-direction: column;
    }

    &__featuredContainer {
      flex: 1;
      width: 100%;
    }

    &__info {
      flex: 1;
      width: 100%;
      margin-left: 0;
    }
  }
}
hr {
  color: $lightGrey;
}
@media (max-width: 600px) {
  .home {
    &__continentsCol {
      flex-direction: column;
      margin: 0;
    }
  }
}
