.footer {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  background-color: $lightGrey;
  font-family: $textFont;
  color: $darkGreen;
  font-size: 32px;

  &__icon {
    margin: 0 20px;
    font-size: 42px;
    cursor: pointer;
  }
}
